/* CSS declarations go here */
#foodie-coach-header {
	text-align: center;
	line-height: 50px;
	padding-bottom: 10px;
}

#blinking-text-header {
	text-align: center;
	width: 1100px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 25px;
	animation: type 5s steps(50, end);
}

@keyframes type {
	from { width: 0; }
}

#all-container {
	position: absolute;
	top: 110px;
	left: 10%;
}

#place-container {
	margin: 10px;
	padding: 10px;
	width: 330px;
	height: 180px;
	border: solid 2px #49afcd;
	float: left;
}

#place-container:hover {
	background-color: #bce8f1;
}

#place-register-button{
	margin: 0px;
}

.navbar-inverse {
	background-color: #3a87ad;
	color: #fff;
}

.col-md-8 {
	width: 800px;
}

#newplace-location {
	width: 812px;
}

#place-enlarge {
    position: relative;
    right: -260px;
    bottom: -20px;
    text-align: right;
}

#place-enlarge:hover {
	cursor: pointer;
}

.low-opacity {
	display: hidden;
}

.regular-opacity {
	opacity: 1;
}

.selected-enlarge-card {
	position: fixed;
	top: 40%;
	left: 30%;
	z-index: 50;
	transform: scale(2.5);
	transform-origin: (0,0);
	opacity: 1;
}

#close-card {
	position: absolute;
	top: 0;
	right: 5px;
}

#close-card:hover {
	cursor: pointer;
}

.arrow-down {
	position: fixed;
	top: 110px;
	left: 48%;
	z-index: 9999;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 25px solid #3a87ad;
}

.arrow-down-white {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #FFF;
}

@media (max-width: 800px) {
	.col-md-8 {
		text-align: center;
		width: 80%;
	}
	#newplace-location {
		text-align: center;
		width: 80%;
	}
	#foodie-coach-header {
		text-align: center;
		font-size: 20px;
	}
	h3 {
		text-align: center;
		font-size: 16px;
	}
	.selected-enlarge-card {
		position: fixed;
		top: 40%;
		left: 10%;
		z-index: 500;
		transform: scale(1.1);
		opacity: 1;
	}
	.arrow-down {
		position: absolute;
		top: 80px;
	}
	#blinking-text-header {
		display: hidden;
	}
}