/* CSS declarations go here */
#foodie-coach-header {
	text-align: center;
	line-height: 50px;
}
#all-container {
	position: absolute;
	top: 70px;
	left: 10%;
}

#place-container {
	margin: 2px;
	padding: 10px;
	width: 330px;
	height: 180px;
	border: solid 2px #49afcd;
	float: left;
}

#place-register-button{
	margin: 0px;
}

.navbar-inverse {
	background-color: #3a87ad;
	color: #fff;
}

.col-md-8 {
	width: 800px;
}

#newplace-location {
	width: 812px;
}

@media (max-width: 800px) {
	.col-md-8 {
		text-align: center;
		width: 80%;
	}
	#foodie-coach-header {
		text-align: center;
		font-size: 20px;
	}
	h3 {
		text-align: center;
		font-size: 16px;
	}
}